{% extends "base.html" %}
{#{% set active_page = "create" %}#}
{% block title %} Create {% endblock %}
{% block header %} Create your own Recipe{% endblock %}
{% block content %}
 <form action="" method="post" enctype="multipart/form-data" novalidate>
    {{ form.hidden_tag() }}
    <p  class="form-group" data-ajax= "{{ url_for('main.validate_recipe_name') }}">
        {{ form.name.label }}<br>
        {{ form.name(size=32, class_="form-control") }}
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p  class="form-group">
        {{ form.desc.label }}<br>
        {{ form.desc(size=140, class_="form-control") }}
        {% for error in form.desc.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

<!-- The code if all Ingredients are seperate forms -->

     {% for field in form.ingredients %}
         <div class="ing_wrapper form-group">

         {% if field.name == "CSRF-TOKEN" %}
         {% else %}
            {{ field.label }}
            {{ field(size=32) }}
         {% for error in field.errors %}
            <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         {% endif %}
         </div>
    {% endfor %}

    <div id="plus_sign">
        <img src=" {{ url_for( 'static', filename='img/plus_sign.PNG') }}">
    </div>

     <p  class="form-group">
         {{ form.picture.label }}
         {{ form.picture() }}
         {% for error in form.picture.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
     </p>

  {% if request.endpoint != 'main.create' %}
         <script>
         document.querySelector('#plus_sign').style.display = 'none'
         </script>
        <p>{{ form.delete(class_="btn btn-outline-danger delete_btn") }}</p>
    {% endif %}

    <p>{{ form.submit(class_="btn btn-primary") }}</p>


 </form>
{% endblock %}
