{% extends "base.html" %}
{% set active_page = "index" %}
{% block title %} Home {% endblock %}
{% block header %} All Cocktails {% endblock %}
{% block content %}
    <div id="cocktailList" class="">
    {% for cocktail in cocktails %}
        {% include 'main/__cocktail_card.html' %}
    {% endfor %}
    </div>
    <br>
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer Cocktails</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older Cocktails</a>
    {% endif %}
    <br>
{% endblock %}