#wrap_whole{
    align-content: center;
    max-width: 700px;
    margin: auto;
}
#margin_div{
    margin: 2%
}

/* old nav */

.nav_buttons {
    height: auto;
    margin-bottom: 10px;
}

header {
    text-align: center;
}

/* Cocktail Card*/

#cocktailList{
    align-content: center;
    max-width: 1000px;
    margin: auto;
}


.cocktail {
    margin: 2%;
    margin-top: 3%;
    padding: 2%;
    padding-top: 1%;
    border: gray;
    border-style: solid;
    border-width: medium;
    border-radius: 4px;
     /*background-color: rgba(255,0,0,0.2); */
    background-color: rgba(255, 255, 255, 0.9);

    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}

.cocktail:hover {
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.5);
}

.cocktail h3 {
    text-align: center;
}

.cocktail article {
    /*text-align: left;*/
    /*border: black;*/
    /*border-style: solid;*/
    /*border-width: thin;*/
    /*border-radius: 4px;*/
    margin-left: 2%;
    padding: 2px;
    background-color: white ;
}

.cocktail table {

}

hr {
    margin: auto;
}

/* create form */
#plus_sign {
    margin-top: 5%;
    width: 100%;
    height: auto;
    text-align:center;
}

#plus_sign img {
    max-width: 15%;
    height: auto;
}


nav {
    text-align: center;
}


.edit_btn {
    float: right;
}

.delete_btn {
    float: right;
}

/* Search*/
#search_nav {
    position: sticky;
    top:55px;
}