<article class="cocktail">
            {% if cocktail.user_id == current_user.id %}
                <a href={{ url_for('cocktail', name=cocktail.name) }} type="button" class="btn btn-outline-danger btn-sm edit_btn">Edit</a>
            {% endif %}
            <h3>{{ cocktail.name }}</h3>
            <hr>
            <label>Description</label>
            <article>{{ cocktail.desc }}</article>
            <label>Ingredients</label>
            <table class="ingredients">
                <tbody>
                {% for ing in ingredients[cocktail.name] %}
                    <tr>
                    <td>{{ ing.name }}</td>
                    <td>{{ ing.quantity }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

</article>