{% extends "base.html" %}
{#{% set active_page = "create" %}#}
{% block title %} Create {% endblock %}
{% block header %} Create Cocktails{% endblock %}
{% block content %}
 <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p  class="form-group">
        {{ form.name.label }}<br>
        {{ form.name(size=32, class_="form-control") }}
        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p  class="form-group">
        {{ form.desc.label }}<br>
        {{ form.desc(size=140, class_="form-control") }}
        {% for error in form.desc.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

     {% for field in form.ingredients %}
         <div class="ing_wrapper form-group">

         {% if field.name == "CSRF-TOKEN" %}
         {% else %}
            {{ field.label }}
            {{ field(size=32) }}
         {% for error in field.errors %}
            <span style="color: red;">[{{ error }}]</span>
             {% endfor %}
         {% endif %}


         </div>

    {% endfor %}
    <div id="plus_sign">
        <img src="../static/img/plus_sign.PNG">
    </div>
    <p>{{ form.submit(class_="btn btn-primary") }}</p>
 </form>
    {% if request.endpoint != 'create' %}
    <h4>Delete</h4>
        <form action="" method="post" novalidat>
        <p>{{ form2.submit(class_="btn btn-outline-danger") }}</p>
        </form>
    {% endif %}
{% endblock %}
