{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block header %} Home site {% endblock %}
{% block content %}
    <b>A List of Cocktails:</b>
    {% for cocktail in cocktails %}
        <ul>
            <li>Name: {{ cocktail.name }}</li>
            <li>Description: {{ cocktail.desc }}</li>
            {% for ing in ingredients[cocktail.name] %}
                <li>Ingredient: {{ ing.name }}, Quantity: {{ ing.quantity }}</li>
            {% endfor %}
        </ul>
    {% endfor %}


{% endblock %}