{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block header %} All Cocktails {% endblock %}
{% block content %}
    <div id="cocktailList" class="">
    {% for cocktail in cocktails %}
        <article class="cocktail">
            <h3>{{ cocktail.name }}</h3>
            <hr>
            <label>Description</label>
            <article>{{ cocktail.desc }}</article>
            <label>Ingredients</label>
            <table class="ingredients">
                <tbody>
                {% for ing in ingredients[cocktail.name] %}
                    <tr>
                    <td>{{ ing.name }}</td>
                    <td>{{ ing.quantity }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </article>
    {% endfor %}
    </div>

{% endblock %}